In [ ]:
import sqlite3

DEBUG = True

In [ ]:
# 创建数据库连接
def db_conn(database):
    conn = sqlite3.connect(database)
    if conn:
        print("ok")
        if isinstance(conn, sqlite3.Connection):# 能不能正常连接
            return True
    print("no")
    return False

In [ ]:
#增删改查
def create_table(conn , table_name, field):
    pass

def my_excute(conn, c, sql):
    try:
        c.execute(sql)
    except Exception as e:
        print(e)
        conn.rollback()
    else:
        conn.commit()

def db_create(database):
    conn = sqlite3.connect(database)
    #生成了可用于增删改查的一个对象
    c = conn.cursor()
    #python sqlite3  事务形式：一条或多条进行时有错，会发生适度回滚
    try:
        #核心:创建表
        c.execute("create table if not exists student(id integer primary key autoincrement, name text, age integer, score real)")
    except sqlite3.ProgrammingError as e:
        print(e)
        conn.rollback()
    except sqlite3.OperationalError as e:
        if DEBUG:
            print(e)
        else:
            print("命令错误【error code 111】") # print(e)
    else:
        conn.commit()
    finally:
        # conn.close() # 尽可能让连接只存在于这个会话
        pass

In [ ]:
#写数据
def db_insert(database,name, age, score):
    conn = sqlite3.connect(database)
    c = conn.cursor()
    try:    
        c.execute("insert into student values(null, ?, ?, ?)", (name, age, score))
    except Exception as e:
        print(e)
        conn.rollback
    else:
        conn.commit()

In [ ]:
# 修改
try:
    c.execute("update student set name= 'Rose' where id =2")
except Exception as e:
    print(e)
    conn.rollback
else:
    conn.commit()

In [ ]:
#删数据
'''
try:
    c.execute("delete from student where id = 3")
except Exception as e:
    print(e)
    conn.rollback
else:
    conn.commit()
'''
my_excute(conn ,c ,"delete from student where id = 4")

In [ ]:
#查数据
def db_select():
    try:
        c.execute("select * from student")
    except Exception as e:
        print(e)
    else:
        data_list = c.fetchall() #fetchone 返回一条
        for item in data_list:
            print(f"学号:{item[0]} 姓名:{item[1]} 年龄:{item[2]} 成绩:{item[3]}")

In [ ]:
# 多条记录
# excutemany(sql,插入数据的iter)
#例如：
#[
#[null,'a', 20, 90],
#[null,'b',21,98],
# ......
#]
names = 'abcde'
ages = [20,21,19,19,20]
scores = [90,99,98,95,100]
data = zip(names, ages, scores)#打包：每三个：a 20 90

try:
    c.executemany("insert into student values (null, ?,?,?)",data)
except Exception as e:
    print(e)
    conn.rollback()
else:
    conn.commit()

In [ ]:
data = [
    ['aa',1],
    ['bb',10],
    ['cc',12]
]

try:
    c.executemany("update student set name=? where id = ?",data)
except Exception as e:
    print(e)
    conn.rollback()
else:
    conn.commit()